@using System.Text.Json
@{
    ViewData["Title"] = "Create Meal";
}
@model MealPlanner.Models.CreateMealViewModel
<div class="text-center">
    <h1 class="display-4">Create Meal</h1>
    
</div>
@{
    List<Ingredient> ingList = Model.Ingredients;
    var json = JsonSerializer.Serialize(ingList);
}

<body onload="onLoad();">
    <script>
        var allIngredients = JSON.parse('@Html.Raw(json)');
        console.log(allIngredients)
        let mealIngredients = [];
        function onLoad()
        { 
            DisplayList(allIngredients);
        }
        function DisplayList(array) {
            
            var IngredientList = "";
            array.forEach(Element => {
                IngredientList += " <tr> <td><p1>" + Element.Name + "</p1> </td ><td><button name=' " + Element.Name + "Button' onclick='AddIngredient(\"" + Element.Name + "\"," + Element.ID + ")'>Add Ingredient</button> </td> </tr > ";
            });

            document.getElementById("IngredientSearchList").innerHTML = IngredientList;

            console.log(array.length);
        }
        function DisplayMealIngredients()
        {
            document.getElementById("MealIngredients").innerHTML = "";

            for (let i = 0; i < mealIngredients.length; i++) 
            {
            
            
                document.getElementById("MealIngredients").innerHTML += " <tr> <td><p1>" + mealIngredients[i].Name + "</p1> </td ><td><button name='"
                    + mealIngredients[i].Name + "Button' onclick='RemoveIngredient("
                    + i + ")'>Remove Ingredient</button>"
                    + "</td><td><select id='select" + i + "' type='text' name='type' onchange='SetFormat(" + i + ")'>"
                    +"<option value='Tbspn'>Tbspn</option>"
                    + "<option value='Tspn'>Tspn</option>"
                    +"<option value='grams'>grams</option>"
                    + "<option value='ml'>Ml</option>"
                    + "<option value='item'>item</option>"

                    + "</select>  </td><td><input id='value" + i + "' type='number' name='ammount' value='" + mealIngredients[i].Ammount + "' onchange='SetAmmount(" + i + ")'/> </td > </tr > ";

            };
            for (let i = 0; i < mealIngredients.length; i++) 
            {
                document.getElementById("select" + i).value = mealIngredients[i].Format;
            }
        }
        function FindIngredient(IngToFind) 
        {
            if (IngToFind === "") 
            {
                DisplayList(allIngredients);
            }
            else
            {
                let SearchArray = []

                allIngredients.forEach(Element => {
                    if (Element.Name.toLowerCase() === IngToFind.toLowerCase()) 
                    {
                        SearchArray.push(Element);  
                    
                    } 
                })
                DisplayList(SearchArray);
            }
        
        }
        function AddIngredient(Name, ID) 
        {
            var ingredient = { IngredientId: ID, Name: Name, Format: "Tbspn", Ammount: 1};
            mealIngredients.push(ingredient);
            DisplayMealIngredients();
            document.getElementById("MealIngredientsInput").value = JSON.stringify(mealIngredients);
        }
        function RemoveIngredient(i) 
        {
            mealIngredients.splice(i, 1);
            DisplayMealIngredients();
            document.getElementById("MealIngredientsInput").value = JSON.stringify(mealIngredients);
        }
        function SetFormat(i)
        {
            mealIngredients[i].Format = document.getElementById("select" + i).value;
            document.getElementById("MealIngredientsInput").value = JSON.stringify(mealIngredients);
        }
        function SetAmmount(i) 
        {
            mealIngredients[i].Ammount = document.getElementById("value" + i).value;
            document.getElementById("MealIngredientsInput").value = JSON.stringify(mealIngredients);
        }
    </script>

    <div style="width: 100%; display: table">
        <div style="display: table-row;">
            <div style="width: 30%; display: table-cell;">
                
                <input type="text" id="IngredientSearch" name="IngredientSearch" />
                <button id="Search" onclick="FindIngredient(getElementById('IngredientSearch').value)">Search</button>
                <table id="IngredientSearchList">
                    <tr>
                        <td>
                            Ingredient Name
                        </td>
                        <td>
                        </td>
                    </tr>
                   <!-- <tr> <td><p1>Element.Name</p1> </td ><td><button name='Element.NameButton' onclick='AddIngredient(Element.Name,Element.ID)'>Add Ingredient</button> </td> </tr> -->
                </table>
            </div>


            <div style="width: 70%; display: table-cell;">
                
                <div name="MealIngredients" id="testtest">
                    <form asp-action="AddNewMeal" asp-controller="CreateMeal">
                        <h1 style="align-self: center">Meal</h1>
                        <input style="align-self: center" type="text" name="MealName" id="MealName" value="Meal name" />
                        <p></p>
                        <input style="align-self: center" type="submit" value="Add meal" class="submit" />
                        <input id="MealIngredientsInput" name="MealIngredients" type="hidden" value="" />
                    </form>
                    <table id="MealIngredients">
                        <tr>
                            <td>
                                Ingredient Name
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>


