@using System.Text.Json
@{
    ViewData["Title"] = "Create Meal";
}
@model MealPlanner.Models.CreateMealViewModel
<div class="text-center">
    <h1 class="display-4">Create Meal</h1>
    
</div>
@{
    List<Ingredient> ingList = Model.Ingredients;
    var json = JsonSerializer.Serialize(ingList);
}

<body onload="onLoad();">
    <script>
        var allIngredients = JSON.parse('@Html.Raw(json)');
        console.log(allIngredients)
        let mealIngredients = [];
        function onLoad()
        { 
            DisplayList(allIngredients);
        }
        function DisplayList(array) {
            
            var IngredientList = "";
            array.forEach(Element => {
                IngredientList += " <tr> <td><p1>" + Element.Name + "</p1> </td ><td><button name=' " + Element.Name + "Button' onclick='AddIngredient(\"" + Element.Name + "\"," + Element.ID + ")'>Add Ingredient</button> </td> </tr > ";
            });

            document.getElementById("IngredientSearchList").innerHTML = IngredientList;
        }
        function DisplayMealIngredients()
        {
            var IngredientList = "";
            mealIngredients.forEach(Element => {
                IngredientList += " <tr> <td><p1>" + Element.Name + "</p1> </td ><td><button name='" + Element.Name + "Button' onclick='RemoveIngredient(" + Element.ID + ")'>Remove Ingredient</button> </td><td><input type='text' name='type' value='type here'/>  </td><td><input type='number' name='ammount' value='10'/> </td > </tr > ";

            });

            document.getElementById("MealIngredients").innerHTML = IngredientList;
        }
        function FindIngredient(IngToFind) 
        {
            let SearchArray = []

            allIngredients.forEach(Element => {
                if (Element.Name.toLowerCase() === IngToFind.toLowerCase()) 
                {
                    SearchArray.push(Element);  
                    
                } 
            })

            
            DisplayList(SearchArray);
        }
        function AddIngredient(Name, ID) {

            var ingredient = { ID: ID, Name: Name, MealIngredients: null };
            mealIngredients.push(ingredient);

            DisplayMealIngredients()
            
        }
        function RemoveIngredient(ID) {

            const isID = (Element) => Element.ID == ID;
            console.log(mealIngredients.find(isID));
            
            
        }
    </script>
    <div style="width: 100%; display: table">
        <div style="display: table-row;">
            <div style="width: 30%; display: table-cell;">
                Left
                <input type="text" id="IngredientSearch" name="IngredientSearch" />
                <button id="Search" onclick="FindIngredient(getElementById('IngredientSearch').value)">Search</button>
                <table id="IngredientSearchList">
                    <tr>
                        <td>
                            Ingredient Name
                        </td>
                        <td>
                        </td>
                    </tr>
                   <!-- <tr> <td><p1>Element.Name</p1> </td ><td><button name='Element.NameButton' onclick='AddIngredient(Element.Name,Element.ID)'>Add Ingredient</button> </td> </tr> -->
                </table>
            </div>


            <div style="width: 70%; display: table-cell;">
                
                <div name="MealIngredients" id="testtest">
                    <form>
                        <h1 style="align-self: center">Meal</h1>
                        <input style="align-self: center" type="text" name="IngredientName" value="Meal name" />
                        <p></p>
                        <input style="align-self: center" type="submit" value="Add meal" class="submit" />
                        <table id="MealIngredients">
                            <tr>
                                <td>
                                    Ingredient Name
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>


