@{
    ViewData["Title"] = "Home Page";
}
@model MealPlanner.Models.Meal
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   
    <form asp-action="CreateMeal" asp-controller="home">
            <input type="text" name="IngredientName" id="IngName" />
            <button class="btn btn-primary" type="submit">search</button>

     </form>
    
   
</div>

