@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";
}
@model MealPlanner.Models.IndexViewModel
<head>

    <form asp-action="CreateMeal" asp-controller="Home">
        <input style="align-self: center" type="submit" value="Add meal" class="submit" />
    </form>

</head>
<div class="text-center">
    <h1 class="display-4">Create Meal</h1>
    
</div>
@{
    var jsonMeals = JsonSerializer.Serialize(Model.meals);
    { }
}


<body onload="onLoad();">
    <script>
        const allMeals = JSON.parse('@Html.Raw(jsonMeals)');
        console.log(@Html.Raw(jsonMeals));
        //console.log(allMeals);

        var chosenMeals = [];
        var chosenIngredients = [];

        function onLoad() {
            displayMeals(allMeals);
        }

        function displayMeals(array) {

            let MealList = "";
            array.forEach(Element => {
                MealList += " <tr> <td><p1>" + Element.Name + "</p1> </td ><td><button name=' " + Element.Name + "Button' onclick='AddMeal(\"" + Element.Name + "\"," + Element.ID + ")'>Add Meal</button> </td> </tr > ";
            });

            document.getElementById("MealSearchList").innerHTML = MealList;
        }

        

        function FindMeal(IngToFind) {

            if (IngToFind === "") {
                displayMeals(allMeals);
            }
            else {
                let SearchArray = []

                allMeals.forEach(Element => {
                    if (Element.Name.toLowerCase().includes(IngToFind.toLowerCase())) 
                    {
                        SearchArray.push(Element);
                    }
                })
                displayMeals(SearchArray);
            }

        }

        function AddMeal(Name, ID) {

            chosenIngredients = []

            chosenMeals.push({ ID: ID, Name: Name });

            for (let i = 0; i < chosenMeals.length; i++) {
                var Ingr = allMeals.find((meal) => meal.ID === chosenMeals[i].ID).MealIngredients;
                
                for (let j = 0; j < Ingr.length; j++) 
                {
                    
                    AddIngredient(Ingr[j].IngredientId, Ingr[j].IngredientName, Ingr[j].format, Ingr[j].ammount);
                }
              
            }
            
           

            let IngredientDisplay = "";
            let MealDisplay = ""

            chosenIngredients.forEach(ingr => 
            {
                IngredientDisplay += " <tr> <td><p1>" + ingr.Name + "</p1> </td ><td><p1>" + ingr.ammount + "</p1> </td ><td><p1>" + ingr.format + "</p1> </td > </tr > "
            })

            chosenMeals.forEach(meal =>
            {
                MealDisplay += " <tr> <td><p1>" + meal.Name + "</p1> </td ><td><button name=' " + meal.Name + "Button' onclick='RemoveMeal(\"" + meal.Name + "\"," + meal.ID + ")'>Remove meal Meal</button> </td> </tr > ";
            })
           
            document.getElementById("IngredientList").innerHTML = IngredientDisplay;
            document.getElementById("MealList").innerHTML = MealDisplay;

        }
        function AddIngredient(ID, Name, Format, Ammount) 
        {
            
            let ingredient = chosenIngredients.find((Ingr) => Ingr.IngredientId === ID);
            console.log(ingredient)

            if (ingredient === undefined) 
            {
                
                chosenIngredients.push({ IngredientId: ID, Name: Name, format: Format, ammount: Ammount });
            }
            else 
            {
                
                ingredient.ammount += Ammount 
            }
            
        }

    </script>

    <div style="width: 100%; display: table">
        <div style="display: table-row;">
            <div style="width: 30%; display: table-cell;">
                
                <input type="text" id="MealSearch" name="IngredientSearch" />
                <button id="Search" onclick="FindMeal(getElementById('MealSearch').value)">Search</button>
                <table id="MealSearchList">
                    <tr>
                        <td>
                            Meal Name
                        </td>
                        <td>
                        </td>
                    </tr>
                   <!-- <tr> <td><p1>Element.Name</p1> </td ><td><button name='Element.NameButton' onclick='AddIngredient(Element.Name,Element.ID)'>Add Ingredient</button> </td> </tr> -->
                </table>
            </div>


            <div style="width: 30%; display: table-cell;">
                
                
                <table id="MealList">
                    <tr>
                        <td>
                            MealName
                        </td>
                        <td>

                        </td>
                    </tr>

                </table>
                    
               
            </div>

            <div style="width: 30%; display: table-cell;">


                <table id="IngredientList">
                    <tr>
                        <td>
                            Ingredient Name
                        </td>
                        <td>
                        </td>
                    </tr>

                </table>


            </div>
        </div>
    </div>
    
</body>



