@{
    ViewData["Title"] = "Home Page";
}
@model MealPlanner.Models.Meal
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   
    <form asp-action="CreateMeal" asp-controller="home">
            <input type="text" name="IngredientName" id="IngName" />
            <button class="btn btn-primary" type="submit">search</button>

     </form>
    
   
</div>
<div style="width: 100%; display: table;">
    <div style="display: table-row;">
        
        <div style="width: 30%; display: table-cell;">
            <Table>
                <thead>
                 <tr>
                    <th>Name</th>
                    <th>AddToMeal</th>
                 </tr>
                </thead>
                <tbody>@{
                        var test = TempData["ingredients"];
                        
                        if (!(test is null))
                        { 
                            foreach (var ingredient in ViewBag.Ingredients )
                            {
                                <tr>
                                    <td>@ingredient.Name</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
             </Table>
        </div>
        <div style="width: 30%; display: table-cell;">
            
        </div>
        <div style="width: 30%; display: table-cell;">
            
        </div>
        
    </div>
</div>
